.navbar {
    background-color: #EDEDED;
}

.row h3{
    text-decoration: underline;
    text-align: center;
}

.player, .admin{
    margin-top: 50px;
}

.nav-room .active{
    background-color: #EDEDED;
}

.img-wrap>img {
  display: block;
  max-width:100%;
  max-height:auto;
  width: auto;
  height: auto;
}
